<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProdController</servlet-name>
        <servlet-class>Controller.LoadProdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>Controller.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProdController</servlet-name>
        <servlet-class>Controller.DetailProdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCartController</servlet-name>
        <servlet-class>Controller.ProcessCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>Controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProdController</servlet-name>
        <servlet-class>Controller.CreateProdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProdController</servlet-name>
        <servlet-class>Controller.DeleteProdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProdServlet</servlet-name>
        <servlet-class>Controller.EditProdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>Controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>Controller.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>Controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>Controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProdController</servlet-name>
        <url-pattern>/loadProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProdController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCartController</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProdController</servlet-name>
        <url-pattern>/createProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProdController</servlet-name>
        <url-pattern>/deleteProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProdServlet</servlet-name>
        <url-pattern>/editProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/addAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/editAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteAcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
